.material-container {
  @extend .container;
  box-shadow: none !important;
  border: none !important;

  .animation-list {
    background: none !important;

    .course-names {
      @include size(100%);
      background: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      margin-bottom: 1em;
      padding: 2em;
      position: relative;
      overflow: hidden;
      transition: box-shadow 0.25s ease-in;
      transform: translateZ(0);
      backface-visibility: hidden;
      perspective: 1000;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.5s ease-in;

        .animated-backgrounds {
          background: #efefef;
          opacity: 0.1;
          height: 250%;
          top: -50%;
          overflow: hidden;
          position: absolute;
          transition: transform 0.7s ease-in, background 0.7s ease-in;
          z-index: 10;

        }
      }
    }
  }
}
