@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

body {
  background: #efefef;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-size: 32px;
  padding: 350px 0 10px;
  margin: 0;
}

.container {
  margin: 3em auto;
  width: 500px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);

  .wifi {
    background: #ffffff;

    .wifi-names {
      @include size(100%);
      background: rgba(200,200,200,0);
      padding: 2em;
      position: relative;
      border-bottom: 1px solid #ddd;
      overflow: hidden;

      &:last-child {
        border-bottom: none;
      }


      &:hover {
        cursor: pointer;

        .wifi-backgrounds {
          background: rgba(200,200,200,0.15);
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          transition: transform 0.7s ease-in, background 0.7s ease-in;
          z-index: 10;

          &.left {
            @include transform(scaleX(6));
            @include transform-origin(center left);
            left: 0;
            width: 20%;

          }

          &.center {
            @include transform(scaleX(5));
            @include transform-origin(center center);
            left: 38%;
            width: 25%;
          }

          &.right {
            @include transform(scaleX(6));
            @include transform-origin(center right);
            right: 0;
            width: 20%;
          }

        }
      }
    }
  }
}

.wifi-test {
  color: red;
}

@include keyframes(fadeInOut) {
  0% {color: blue};
  100% {color: red};
}
