<div class="material-container">
  <ul class="animation-list">
    <li class="course-names">
    Wifi 1
    <div class="animated-backgrounds center"></div>
    </li>
    <li class="course-names">
    Wifi 2
    <div class="animated-backgrounds center"></div>
    </li>
    </li>
    <li class="course-names">
    Wifi 3
    <div class="animated-backgrounds center"></div>
    </li>
  </ul>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
