<div class="container">
  <ul class="animation-list">
    <li class="wifi-names">
      Wifi 1
      <div class="animated-backgrounds center"></div>
    </li>
    <li class="wifi-names">
      Wifi 2
      <div class="animated-backgrounds center"></div>
    </li>
    <li class="wifi-names">
      Wifi 3
      <div class="animated-backgrounds left"></div>
    </li>
    <li class="wifi-names">
      Wifi 4
      <div class="animated-backgrounds left"></div>
    </li>
    <li class="wifi-names">
      Wifi 5
      <div class="animated-backgrounds right"></div>
    </li>
    <li class="wifi-names">
      Wifi 6
      <div class="animated-backgrounds right"></div>
    </li>
  </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/all.js"></script>
<script>

$(document).ready(function() {
    surfaceReact();
    });
</script>
